<div class="mainDiv">

  <div class="div1">
    <div class="div1st">
      <h1 class="txt1">Find your desired<br>health solution</h1>
      <br>
      <p class="txt2">KazMed provides real-time visual and audio<br>patient assessment at a distance</p>
      <br><br>
      <a class="btn1" (click)="check()">Book an appointment</a>
    </div>
  </div>

  <div class="div2nd">
    <h1 id="ser">Our services</h1>
    <hr id="hr1">
    <p id="serp">We provide you the best health services. Adjust it to your health needs and make sure you undergo<br>
    treatment with our highly qualified doctors. You can consult with us with different type of services suitable<br>
      for your health.
    </p>
    <br><br><br>
    <div class="serc">
      <div class="txt3">
        <h2>Consultation</h2>
        <p>Free consultation with our trusted<br>doctors and the get the best<br>recommendations</p>
      </div>
      <div class="txt3">
        <h2>Pharmacy</h2>
        <p>Buy your medicines with our<br>mobile application with a simple delivery system</p>
      </div>
      <div class="txt3">
        <h2>Emergency</h2>
        <p>You can get 24/7 urgent care for<br>yourself oryour children and your<br>lonely family</p>
      </div>
      <div class="txt3">
        <h2>Blog</h2>
        <p>Get up-to-date<br>recommendations and health<br>related articles for a healthy life</p>
      </div>
    </div>
  </div>

  <br><br><br>

  <div class="learn">
    <div class="learnt">
      <h1>image here</h1>
    </div>

    <div class="learnt">
      <h1 style="font-family: Montserrat">Leading healthcare<br>providers</h1>
      <hr class="hrlear">
      <br><br>
      <p>KazMed provides progressive, and affordable<br>healthcare, accessible on mobile and online<br>for everyone.
      To us, it's not just work. We<br>take pride in the solutions we deliver.
      </p>
    </div>
  </div>
  <br><br>
  <div class="mobile">
    <div class="mobiletxt">
      <h1 style="font-family: Montserrat">Download the mobile app</h1>
      <p>Our dedicated patient engagement app and<br>
      web portal allow you to access information<br>
        instantaneously and securely.
      </p>
      <br>
      <a href="https://translate.yandex.ru">Download now -→</a>
    </div>
  </div>
  <br><br>
</div>
