<div class="footer">
  <div class="contain">
    <div class="col">
      <h1>Patient</h1>
      <ul>
        <br>
        <a routerLink="../doctors"><li>Doctors</li></a>
        <a routerLink="../medcenter"><li>Medcenter</li></a>
        <li>Services</li>
      </ul>
    </div>
    <div class="col">
      <h1>Information</h1>
      <ul>
        <br>
        <li>Directory of diseases</li>
      </ul>
    </div>
    <div class="col">
      <h1>About us</h1>
      <ul>
        <br>
        <a routerLink="../about"><li>About project</li></a>
      </ul>
    </div>
    <div class="col social">
      <h1>Install App</h1>
      <ul>
        <br>
        <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
      </ul>
    </div>
    <div class="clearfix"><br></div>
  </div>
  <div class="hrsoc">
    <div class="soc">
      <p>© 2022 KazMed. All rights reserved.</p>
    </div>
    <div class="soc">

    </div>
  </div>
</div>
