<div class="mainDiv">
  <h1 class="title">About project</h1>
  <div class="info">
    <div class="cont">
      <img src="assets/doc.jpg">
    </div>
    <div class="cont">
      <p>KazMed is part of the largest Internet holding in Kazakhstan, Chocofamily. The holding's projects
        include Chocolife, Chocofood, Chocotravel, Rakhmet and Lensmark.</p>

      <p>The mission of the Chocofamily projects is to increase the number of happy people. We improve
        their quality of life, saving time and money, allowing them to travel more, discover the world
        and spend time with their loved ones. KazMed is an online service for finding and making appointments
        with doctors in Kazakhstan.<br>

        On the website you can:<br>
        - make an appointment with a doctor of interest;<br>
        - get an online consultation without visiting a doctor;<br>
        - leave a review about the doctor you visited.</p>
    </div>
  </div>
  <br><br><br>

  <div class="trust">
    <br>
    <h1 style="font-size: 36px; color: #00184B;">They trust us</h1>

    <div class="sta" style="background: #14869f">
      <h1>319 country</h1>
      <p>Available from all over the world!</p>
    </div>

    <div class="sta" style="background: #8352a6; margin-left: -2%">
      <h1>100HP</h1>
      <p>We know how to help you!</p>
    </div>

    <div class="sta" style="background: #421c86; margin-left: -2%">
      <h1>4.9</h1>
      <p>Average rating of doctors</p>
    </div>
  </div>

  <br><br><br>

  <div class="dev">
    <h1>Developers: </h1>
    <p>Yerkyn Shynggys</p>
    <p>Moldakyn Sagi</p>
    <p>Mussamadin Assel</p>
  </div>


  <br><br><br>

</div>
