<div class="content">
  <div class="card-content">
    <h1>Top Doctors</h1>
    <div class="cart">
      <div class="cart-info">
          <img
            style="width: 105px; height: 99.7px; border-radius: 8px"
            src="/assets/person1.png"
            alt="women"
          />
        <div class="info">
          <h3 style="font-size: 16px; font-weight: 600">Akhmetova A.A.</h3>
          <p style="font-size: 14px; font-weight: 500; color: #9298a9">
            Cardiologist
          </p>
          <div class="location">
            <img
              style="width: 10px; height: 10px; margin-right: 12px;"
              src="/assets/location.png"
              alt="location"
            />
            <p style="font-size: 12px; color: #9298A9; font-weight: 400;">4km away</p>
          </div>
          <div class="rating">
            <img src="/assets/rating.png" alt="rating" />
            <span>4.7</span>
          </div>
        </div>
      </div>
      <a class="btn2 unselectable">Book an appointment</a>
    </div>
  </div>
  <div class="card-show"></div>
</div>
