* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #00184B;
}

.content {
  margin: 25px auto;
  width: 1260px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.cart {
  display: flex;
  width: 531px;
  padding: 10px;
  box-shadow: 0px 30px 60px rgba(138, 149, 158, 0.12);
  border-radius: 10px;
}

.cart-contents {
  max-width: 531px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: block;
}

.location {
  width: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-show {
  width: 625px;
  height: 724px;
  border: 1px solid #414BBE;
  border-radius: 24px;
}

.btn2 {
  text-decoration: none;
  width: 175px;
  padding: 8px 3px;
  font-size: 16px;
  border: 1px solid #414BBE;
  border-radius: 8px;
  color: white;
  background: #414BBE;
  cursor: pointer;
}

.btn2:hover {
  background: white;
  color: #00184B;
  border: 1px solid #414BBE;
}

.rating {
  display: flex;
  width: 39px;
  padding: 5px 5px;
  background: #414BBE1F;
  border-radius: 4px;
}

img {
  margin-right: 20px;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

span {
  font-weight: bold;
  font-size: 10px;
}

